registry=https://registry.npmmirror.com/
disturl=https://npmmirror.com/mirrors/node
python-mirror=https://npmmirror.com/mirrors/python
sass-binary-site=https://npmmirror.com/mirrors/node-sass
bin-mirrors-prefix=https://npmmirror.com/mirrors
electron-mirror=https://npmmirror.com/mirrors/electron/
electron_custom_dir={{ version }}
electron_builder_binaries_mirror=https://registry.npmmirror.com/-/binary/electron-builder-binaries/
