PORT=4000
#APIKEY_PATH=/flowise/.flowise
#SECRETKEY_PATH=/flowise/.flowise
#LOG_PATH=/flowise/logs
DISABLE_FLOWISE_TELEMETRY=true
IFRAME_ORIGINS=*

MY_APP_VITE_AUTH_DOMAIN=
MY_APP_VITE_AUTH_CLIENT_ID=
MY_APP_VITE_AUTH_AUDIENCE=https://theanswer.ai
MY_APP_VITE_AUTH_ORGANIZATION_ID=

DOMAIN=https://_environment_.flowise.theanswer.ai
ANSWERAI_DOMAIN=https://beta.theanswer.ai

AUTH0_JWKS_URI=
AUTH0_ISSUER_BASE_URL=
AUTH0_BASE_URL=http://localhost:3000
AUTH0_CLIENT_ID=
AUTH0_CLIENT_SECRET=
AUTH0_AUDIENCE=https://theanswer.ai
AUTH0_SCOPE="openid profile email"
AUTH0_TOKEN_SIGN_ALG=RS256e
AUTH0_ORGANIZATION_ID=org_UKvaP3vZRmC7hALa

LANGFUSE_RELEASE=
LANGFUSE_SECRET_KEY=
LANGFUSE_PUBLIC_KEY=
LANGFUSE_HOST=https://cloud.langfuse.com

AUTH_AUTH0_CLIENT_ID=$AUTH0_CLIENT_ID
AUTH_AUTH0_CLIENT_SECRET=$AUTH0_CLIENT_SECRET
AUTH_AUTH0_ISSUER=$AUTH0_ISSUER_BASE_URL
