---
openapi: 3.0.2
info:
  title: Etsy Open API v3
  description: <div class="wt-text-body-01"><p class="wt-pt-xs-2 wt-pb-xs-2">Etsy's
    Open API provides a simple RESTful interface for various Etsy.com features. The
    API endpoints are meant to replace Etsy's Open API v2, which is scheduled to end
    service in 2022.</p><p class="wt-pb-xs-2">All of the endpoints are callable and
    the majority of the API endpoints are now in a beta phase. This means we do not
    expect to make any breaking changes before our general release. A handful of endpoints
    are currently interface stubs (labeled “Feedback Only”) and returns a "501 Not
    Implemented" response code when called.</p><p class="wt-pb-xs-2">If you'd like
    to report an issue or provide feedback on the API design, <a target="_blank" class="wt-text-link
    wt-p-xs-0" href="https://github.com/etsy/open-api/discussions">please add an issue
    in Github</a>.</p></div>&copy; 2021-2024 Etsy, Inc. All Rights Reserved. Use of
    this code is subject to Etsy's <a class='wt-text-link wt-p-xs-0' target='_blank'
    href='https://www.etsy.com/legal/api'>API Developer Terms of Use</a>.
  termsOfService: https://www.etsy.com/legal/api
  contact:
    email: developers@etsy.com
  version: 3.0.0
servers:
- url: https://openapi.etsy.com
  description: Base URL for all Open API endpoints.
security:
- api_key: []
tags:
- name: User
- name: UserAddress
- name: Shop Receipt Transactions
- name: Other
- name: Shop
- name: Shop ShippingProfile
- name: Shop Section
- name: ShopListing
- name: Shop ProductionPartner
- name: Shop Return Policy
- name: SellerTaxonomy
- name: Review
- name: Shop Receipt
- name: Payment
- name: Ledger Entry
- name: ShopListing Video
- name: ShopListing VariationImage
- name: ShopListing Translation
- name: ShopListing Inventory
- name: ShopListing Offering
- name: ShopListing Product
- name: ShopListing Image
- name: ShopListing File
- name: BuyerTaxonomy
x-tagGroups:
- name: Listing Management
  tags:
  - BuyerTaxonomy
  - SellerTaxonomy
  - ShopListing
  - ShopListing File
  - ShopListing Image
  - ShopListing Inventory
  - ShopListing Offering
  - ShopListing Product
  - ShopListing Translation
  - ShopListing VariationImage
  - ShopListing Video
- name: Other
  tags:
  - Other
- name: Payment Management
  tags:
  - Ledger Entry
  - Payment
- name: Receipt Management
  tags:
  - Shop Receipt
  - Shop Receipt Transactions
- name: Review Management
  tags:
  - Review
- name: Shipping Management
  tags:
  - Shop ShippingProfile
- name: Shop Management
  tags:
  - Shop
  - Shop ProductionPartner
  - Shop Section
- name: Shop Policy Management
  tags:
  - Shop Return Policy
- name: User Management
  tags:
  - User
  - UserAddress
paths:
  "/v3/application/buyer-taxonomy/nodes":
    get:
      operationId: getBuyerTaxonomyNodes
      description: |-
        <div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><span class="wt-badge wt-badge--notificationPrimary wt-bg-slime-tint wt-mr-xs-2">General Release</span><a class="wt-text-link" href="https://github.com/etsy/open-api/discussions" target="_blank" rel="noopener noreferrer">Report bug</a></div><div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><p class="wt-text-body-01 banner-text">This endpoint is ready for production use.</p></div>

        Retrieves the full hierarchy tree of buyer taxonomy nodes.
      tags:
      - BuyerTaxonomy
      responses:
        '200':
          description: List the full hierarchy tree of buyer taxonomy nodes.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/BuyerTaxonomyNodes"
        '500':
          description: The server encountered an internal error. See the error message
            for details.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorSchema"
  "/v3/application/buyer-taxonomy/nodes/{taxonomy_id}/properties":
    get:
      operationId: getPropertiesByBuyerTaxonomyId
      description: |-
        <div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><span class="wt-badge wt-badge--notificationPrimary wt-bg-slime-tint wt-mr-xs-2">General Release</span><a class="wt-text-link" href="https://github.com/etsy/open-api/discussions" target="_blank" rel="noopener noreferrer">Report bug</a></div><div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><p class="wt-text-body-01 banner-text">This endpoint is ready for production use.</p></div>

        Retrieves a list of product properties, with applicable scales and values, supported for a specific buyer taxonomy ID.
      tags:
      - BuyerTaxonomy
      parameters:
      - name: taxonomy_id
        in: path
        description: 'The unique numeric ID of an Etsy taxonomy node, which is a metadata
          category for listings organized into the seller taxonomy hierarchy tree.
          For example, the "shoes" taxonomy node (ID: 1429, level: 1) is higher in
          the hierarchy than "girls'' shoes" (ID: 1440, level: 2). The taxonomy nodes
          assigned to a listing support access to specific standardized product scales
          and properties. For example, listings assigned the taxonomy nodes "shoes"
          or "girls'' shoes" support access to the "EU" shoe size scale with its associated
          property names and IDs for EU shoe sizes, such as property `value_id`:"1394",
          and `name`:"38".'
        required: true
        schema:
          type: integer
          description: 'The unique numeric ID of an Etsy taxonomy node, which is a
            metadata category for listings organized into the seller taxonomy hierarchy
            tree. For example, the "shoes" taxonomy node (ID: 1429, level: 1) is higher
            in the hierarchy than "girls'' shoes" (ID: 1440, level: 2). The taxonomy
            nodes assigned to a listing support access to specific standardized product
            scales and properties. For example, listings assigned the taxonomy nodes
            "shoes" or "girls'' shoes" support access to the "EU" shoe size scale
            with its associated property names and IDs for EU shoe sizes, such as
            property `value_id`:"1394", and `name`:"38".'
          minimum: 1
      responses:
        '200':
          description: A list of product properties, with applicable scales and values.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/BuyerTaxonomyNodeProperties"
        '400':
          description: There was a problem with the request data. See the error message
            for details.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorSchema"
        '404':
          description: A resource could not be found. See the error message for details.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorSchema"
        '500':
          description: The server encountered an internal error. See the error message
            for details.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorSchema"
  "/v3/application/shops/{shop_id}/listings":
    post:
      operationId: createDraftListing
      description: |-
        <div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><span class="wt-badge wt-badge--notificationPrimary wt-bg-slime-tint wt-mr-xs-2">General Release</span><a class="wt-text-link" href="https://github.com/etsy/open-api/discussions" target="_blank" rel="noopener noreferrer">Report bug</a></div><div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><p class="wt-text-body-01 banner-text">This endpoint is ready for production use.</p></div>

        Creates a physical draft [listing](/documentation/reference#tag/ShopListing) product in a shop on the Etsy channel.
      tags:
      - ShopListing
      parameters:
      - name: shop_id
        in: path
        description: The unique positive non-zero numeric ID for an Etsy Shop.
        required: true
        schema:
          type: integer
          description: The unique positive non-zero numeric ID for an Etsy Shop.
          minimum: 1
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - quantity
              - title
              - description
              - price
              - who_made
              - when_made
              - taxonomy_id
              properties:
                quantity:
                  type: integer
                  description: 'The positive non-zero number of products available
                    for purchase in the listing. Note: The listing quantity is the
                    sum of available offering quantities. You can request the quantities
                    for individual offerings from the ListingInventory resource using
                    the [getListingInventory](/documentation/reference#operation/getListingInventory)
                    endpoint.'
                title:
                  type: string
                  description: 'The listing''s title string. When creating or updating
                    a listing, valid title strings contain only letters, numbers,
                    punctuation marks, mathematical symbols, whitespace characters,
                    ™, ©, and ®. (regex: /[^\p{L}\p{Nd}\p{P}\p{Sm}\p{Zs}™©®]/u) You
                    can only use the %, :, & and + characters once each.'
                description:
                  type: string
                  description: A description string of the product for sale in the
                    listing.
                price:
                  type: number
                  description: 'The positive non-zero price of the product. (Sold
                    product listings are private) Note: The price is the minimum possible
                    price. The [`getListingInventory`](/documentation/reference/#operation/getListingInventory)
                    method requests exact prices for available offerings.'
                  format: float
                who_made:
                  type: string
                  description: An enumerated string indicating who made the product.
                    Helps buyers locate the listing under the Handmade heading. Requires
                    'is_supply' and 'when_made'.
                  enum:
                  - i_did
                  - someone_else
                  - collective
                when_made:
                  type: string
                  description: An enumerated string for the era in which the maker
                    made the product in this listing. Helps buyers locate the listing
                    under the Vintage heading. Requires 'is_supply' and 'who_made'.
                  enum:
                  - made_to_order
                  - '2020_2024'
                  - '2010_2019'
                  - '2005_2009'
                  - before_2005
                  - '2000_2004'
                  - 1990s
                  - 1980s
                  - 1970s
                  - 1960s
                  - 1950s
                  - 1940s
                  - 1930s
                  - 1920s
                  - 1910s
                  - 1900s
                  - 1800s
                  - 1700s
                  - before_1700
                taxonomy_id:
                  type: integer
                  description: The numerical taxonomy ID of the listing. See [SellerTaxonomy](/documentation/reference#tag/SellerTaxonomy)
                    and [BuyerTaxonomy](/documentation/reference#tag/BuyerTaxonomy)
                    for more information.
                  minimum: 1
                shipping_profile_id:
                  type: integer
                  description: The numeric ID of the [shipping profile](/documentation/reference#operation/getShopShippingProfile)
                    associated with the listing. Required when listing type is `physical`.
                  nullable: true
                  minimum: 1
                return_policy_id:
                  type: integer
                  description: The numeric ID of the [Return Policy](/documentation/reference#operation/getShopReturnPolicies).
                  nullable: true
                  minimum: 1
                materials:
                  type: array
                  description: 'A list of material strings for materials used in the
                    product. Valid materials strings contain only letters, numbers,
                    and whitespace characters. (regex: /[^\p{L}\p{Nd}\p{Zs}]/u) Default
                    value is null.'
                  nullable: true
                  items:
                    type: string
                shop_section_id:
                  type: integer
                  description: The numeric ID of the [shop section](/documentation/reference#tag/Shop-Section)
                    for this listing. Default value is null.
                  nullable: true
                  minimum: 1
                processing_min:
                  type: integer
                  description: The minimum number of days required to process this
                    listing. Default value is null.
                  nullable: true
                processing_max:
                  type: integer
                  description: The maximum number of days required to process this
                    listing. Default value is null.
                  nullable: true
                tags:
                  type: array
                  description: 'A comma-separated list of tag strings for the listing.
                    When creating or updating a listing, valid tag strings contain
                    only letters, numbers, whitespace characters, -, '', ™, ©, and
                    ®. (regex: /[^\p{L}\p{Nd}\p{Zs}\-''™©®]/u) Default value is null.'
                  nullable: true
                  items:
                    type: string
                styles:
                  type: array
                  description: 'An array of style strings for this listing, each of
                    which is free-form text string such as "Formal", or "Steampunk".
                    When creating or updating a listing, the listing may have up to
                    two styles. Valid style strings contain only letters, numbers,
                    and whitespace characters. (regex: /[^\p{L}\p{Nd}\p{Zs}]/u) Default
                    value is null.'
                  nullable: true
                  items:
                    type: string
                item_weight:
                  type: number
                  description: The numeric weight of the product measured in units
                    set in 'item_weight_unit'. Default value is null. If set, the
                    value must be greater than 0.
                  format: float
                  nullable: true
                  minimum: 0
                  maximum: 1.79769313486e+308
                item_length:
                  type: number
                  description: The numeric length of the product measured in units
                    set in 'item_dimensions_unit'. Default value is null. If set,
                    the value must be greater than 0.
                  format: float
                  nullable: true
                  minimum: 0
                  maximum: 1.79769313486e+308
                item_width:
                  type: number
                  description: The numeric width of the product measured in units
                    set in 'item_dimensions_unit'. Default value is null. If set,
                    the value must be greater than 0.
                  format: float
                  nullable: true
                  minimum: 0
                  maximum: 1.79769313486e+308
                item_height:
                  type: number
                  description: The numeric height of the product measured in units
                    set in 'item_dimensions_unit'. Default value is null. If set,
                    the value must be greater than 0.
                  format: float
                  nullable: true
                  minimum: 0
                  maximum: 1.79769313486e+308
                item_weight_unit:
                  type: string
                  description: A string defining the units used to measure the weight
                    of the product. Default value is null.
                  nullable: true
                  enum:
                  - oz
                  - lb
                  - g
                  - kg
                item_dimensions_unit:
                  type: string
                  description: A string defining the units used to measure the dimensions
                    of the product. Default value is null.
                  nullable: true
                  enum:
                  - in
                  - ft
                  - mm
                  - cm
                  - m
                  - yd
                  - inches
                is_personalizable:
                  type: boolean
                  description: When true, this listing is personalizable. The default
                    value is null.
                personalization_is_required:
                  type: boolean
                  description: When true, this listing requires personalization. The
                    default value is null. Will only change if is_personalizable is
                    'true'.
                personalization_char_count_max:
                  type: integer
                  description: This is an integer value representing the maximum length
                    for the personalization message entered by the buyer. Will only
                    change if is_personalizable is 'true'.
                personalization_instructions:
                  type: string
                  description: A string representing instructions for the buyer to
                    enter the personalization. Will only change if is_personalizable
                    is 'true'.
                production_partner_ids:
                  type: array
                  description: An array of unique IDs of production partner ids.
                  nullable: true
                  items:
                    type: integer
                    minimum: 1
                image_ids:
                  type: array
                  description: An array of numeric image IDs of the images in a listing,
                    which can include up to 10 images.
                  nullable: true
                  items:
                    type: integer
                    minimum: 1
                is_supply:
                  type: boolean
                  description: When true, tags the listing as a supply product, else
                    indicates that it's a finished product. Helps buyers locate the
                    listing under the Supplies heading. Requires 'who_made' and 'when_made'.
                is_customizable:
                  type: boolean
                  description: When true, a buyer may contact the seller for a customized
                    order. The default value is true when a shop accepts custom orders.
                    Does not apply to shops that do not accept custom orders.
                should_auto_renew:
                  type: boolean
                  description: When true, renews a listing for four months upon expiration.
                is_taxable:
                  type: boolean
                  description: When true, applicable [shop](/documentation/reference#tag/Shop)
                    tax rates apply to this listing at checkout.
                type:
                  type: string
                  description: An enumerated type string that indicates whether the
                    listing is physical or a digital download.
                  enum:
                  - physical
                  - download
                  - both
      responses:
        '201':
          description: A single ShopListing
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ShopListing"
        '400':
          description: There was a problem with the request data. See the error message
            for details.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorSchema"
        '401':
          description: The request lacks valid authentication credentials. See the
            error message for details.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorSchema"
        '403':
          description: The request attempted to perform an operation it is not allowed
            to. See the error message for details.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorSchema"
        '404':
          description: A resource could not be found. See the error message for details.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorSchema"
        '500':
          description: The server encountered an internal error. See the error message
            for details.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorSchema"
      security:
      - api_key: []
        oauth2:
        - listings_w
    get:
      operationId: getListingsByShop
      description: |-
        <div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><span class="wt-badge wt-badge--notificationPrimary wt-bg-slime-tint wt-mr-xs-2">General Release</span><a class="wt-text-link" href="https://github.com/etsy/open-api/discussions" target="_blank" rel="noopener noreferrer">Report bug</a></div><div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><p class="wt-text-body-01 banner-text">This endpoint is ready for production use.</p></div>

        Endpoint to list Listings that belong to a Shop. Listings can be filtered using the 'state' param.
      tags:
      - ShopListing
      parameters:
      - name: shop_id
        in: path
        description: The unique positive non-zero numeric ID for an Etsy Shop.
        required: true
        schema:
          type: integer
          description: The unique positive non-zero numeric ID for an Etsy Shop.
          minimum: 1
      - name: state
        in: query
        description: 'When _updating_ a listing, this value can be either `active`
          or `inactive`. Note: Setting a `draft` listing to `active` will also publish
          the listing on etsy.com and requires that the listing have an image set.
          Setting a `sold_out` listing to active will update the quantity to 1 and
          renew the listing on etsy.com.'
        required: false
        schema:
          type: string
          description: 'When _updating_ a listing, this value can be either `active`
            or `inactive`. Note: Setting a `draft` listing to `active` will also publish
            the listing on etsy.com and requires that the listing have an image set.
            Setting a `sold_out` listing to active will update the quantity to 1 and
            renew the listing on etsy.com.'
          enum:
          - active
          - inactive
          - sold_out
          - draft
          - expired
          default: active
      - name: limit
        in: query
        description: The maximum number of results to return.
        required: false
        schema:
          type: integer
          description: The maximum number of results to return.
          minimum: 1
          maximum: 100
          default: 25
      - name: offset
        in: query
        description: The number of records to skip before selecting the first result.
        required: false
        schema:
          type: integer
          description: The number of records to skip before selecting the first result.
          minimum: 0
          default: 0
      - name: sort_on
        in: query
        description: 'The value to sort a search result of listings on. NOTES: a)
          `sort_on` only works when combined with one of the search options (keywords,
          region, etc.). b) when using `score` the returned results will always be
          in _descending_ order, regardless of the `sort_order` parameter.'
        required: false
        schema:
          type: string
          description: 'The value to sort a search result of listings on. NOTES: a)
            `sort_on` only works when combined with one of the search options (keywords,
            region, etc.). b) when using `score` the returned results will always
            be in _descending_ order, regardless of the `sort_order` parameter.'
          enum:
          - created
          - price
          - updated
          - score
          default: created
      - name: sort_order
        in: query
        description: 'The ascending(up) or descending(down) order to sort listings
          by. NOTE: sort_order only works when combined with one of the search options
          (keywords, region, etc.).'
        required: false
        schema:
          type: string
          description: 'The ascending(up) or descending(down) order to sort listings
            by. NOTE: sort_order only works when combined with one of the search options
            (keywords, region, etc.).'
          enum:
          - asc
          - ascending
          - desc
          - descending
          - up
          - down
          default: desc
      - name: includes
        in: query
        description: An enumerated string that attaches a valid association. Acceptable
          inputs are 'Shipping', 'Shop', 'Images', 'User', 'Translations' and 'Inventory'.
        required: false
        schema:
          type: array
          description: An enumerated string that attaches a valid association. Acceptable
            inputs are 'Shipping', 'Shop', 'Images', 'User', 'Translations' and 'Inventory'.
          items:
            type: string
            enum:
            - Shipping
            - Images
            - Shop
            - User
            - Translations
            - Inventory
            - Videos
          default: 
      responses:
        '200':
          description: A list of Listings
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ShopListingsWithAssociations"
        '400':
          description: There was a problem with the request data. See the error message
            for details.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorSchema"
        '401':
          description: The request lacks valid authentication credentials. See the
            error message for details.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorSchema"
        '403':
          description: The request attempted to perform an operation it is not allowed
            to. See the error message for details.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorSchema"
        '500':
          description: The server encountered an internal error. See the error message
            for details.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorSchema"
      security:
      - api_key: []
        oauth2:
        - listings_r
  "/v3/application/listings/{listing_id}":
    delete:
      operationId: deleteListing
      description: |-
        <div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><span class="wt-badge wt-badge--notificationPrimary wt-bg-slime-tint wt-mr-xs-2">General Release</span><a class="wt-text-link" href="https://github.com/etsy/open-api/discussions" target="_blank" rel="noopener noreferrer">Report bug</a></div><div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><p class="wt-text-body-01 banner-text">This endpoint is ready for production use.</p></div>

        Open API V3 endpoint to delete a ShopListing. A ShopListing can be deleted only if the state is one of the following:  SOLD_OUT, DRAFT, EXPIRED, INACTIVE, ACTIVE and is_available or ACTIVE and has seller flags:  SUPRESSED (frozen), VACATION, CUSTOM_SHOPS (pattern), SELL_ON_FACEBOOK
      tags:
      - ShopListing
      parameters:
      - name: listing_id
        in: path
        description: The numeric ID for the [listing](/documentation/reference#tag/ShopListing)
          associated to this transaction.
        required: true
        schema:
          type: integer
          description: The numeric ID for the [listing](/documentation/reference#tag/ShopListing)
            associated to this transaction.
          minimum: 1
      responses:
        '204':
          description: The Listing resource was correctly deleted
        '400':
          description: There was a problem with the request data. See the error message
            for details.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorSchema"
        '401':
          description: The request lacks valid authentication credentials. See the
            error message for details.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorSchema"
        '403':
          description: The request attempted to perform an operation it is not allowed
            to. See the error message for details.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorSchema"
        '404':
          description: A resource could not be found. See the error message for details.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorSchema"
        '409':
          description: There was a request conflict with the current state of the
            target resource. See the error message for details.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorSchema"
        '500':
          description: The server encountered an internal error. See the error message
            for details.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorSchema"
      security:
      - api_key: []
        oauth2:
        - listings_d
    get:
      operationId: getListing
      description: |-
        <div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><span class="wt-badge wt-badge--notificationPrimary wt-bg-slime-tint wt-mr-xs-2">General Release</span><a class="wt-text-link" href="https://github.com/etsy/open-api/discussions" target="_blank" rel="noopener noreferrer">Report bug</a></div><div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><p class="wt-text-body-01 banner-text">This endpoint is ready for production use.</p></div>

        Retrieves a listing record by listing ID.
      tags:
      - ShopListing
      parameters:
      - name: listing_id
        in: path
        description: The numeric ID for the [listing](/documentation/reference#tag/ShopListing)
          associated to this transaction.
        required: true
        schema:
          type: integer
          description: The numeric ID for the [listing](/documentation/reference#tag/ShopListing)
            associated to this transaction.
          minimum: 1
      - name: includes
        in: query
        description: An enumerated string that attaches a valid association. Acceptable
          inputs are 'Shipping', 'Shop', 'Images', 'User', 'Translations' and 'Inventory'.
        required: false
        schema:
          type: array
          description: An enumerated string that attaches a valid association. Acceptable
            inputs are 'Shipping', 'Shop', 'Images', 'User', 'Translations' and 'Inventory'.
          items:
            type: string
            enum:
            - Shipping
            - Images
            - Shop
            - User
            - Translations
            - Inventory
            - Videos
          default: 
      - name: language
        in: query
        description: 'The IETF language tag for the language of this translation.
          Ex: `de`, `en`, `es`, `fr`, `it`, `ja`, `nl`, `pl`, `pt`.'
        required: false
        schema:
          type: string
          description: 'The IETF language tag for the language of this translation.
            Ex: `de`, `en`, `es`, `fr`, `it`, `ja`, `nl`, `pl`, `pt`.'
          default: 
      responses:
        '200':
          description: A single Listing.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ShopListingWithAssociations"
        '400':
          description: There was a problem with the request data. See the error message
            for details.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorSchema"
        '404':
          description: A resource could not be found. See the error message for details.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorSchema"
        '500':
          description: The server encountered an internal error. See the error message
            for details.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorSchema"
  "/v3/application/shops/{shop_id}/listings/{listing_id}/files/{listing_file_id}":
    delete:
      operationId: deleteListingFile
      description: |-
        <div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><span class="wt-badge wt-badge--notificationPrimary wt-bg-slime-tint wt-mr-xs-2">General Release</span><a class="wt-text-link" href="https://github.com/etsy/open-api/discussions" target="_blank" rel="noopener noreferrer">Report bug</a></div><div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><p class="wt-text-body-01 banner-text">This endpoint is ready for production use.</p></div>

        Deletes a file from a specific listing. When you delete the final file for a digital listing, the listing converts into a physical listing. The response to a delete request returns a list of the remaining file records associated with the given listing.
      tags:
      - ShopListing File
      parameters:
      - name: shop_id
        in: path
        description: The unique positive non-zero numeric ID for an Etsy Shop.
        required: true
        schema:
          type: integer
          description: The unique positive non-zero numeric ID for an Etsy Shop.
          minimum: 1
      - name: listing_id
        in: path
        description: The numeric ID for the [listing](/documentation/reference#tag/ShopListing)
          associated to this transaction.
        required: true
        schema:
          type: integer
          description: The numeric ID for the [listing](/documentation/reference#tag/ShopListing)
            associated to this transaction.
          minimum: 1
      - name: listing_file_id
        in: path
        description: The unique numeric ID of a file associated with a digital listing.
        required: true
        schema:
          type: integer
          description: The unique numeric ID of a file associated with a digital listing.
          minimum: 1
      responses:
        '204':
          description: The ShopListingFile resource was correctly deleted
        '400':
          description: There was a problem with the request data. See the error message
            for details.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorSchema"
        '401':
          description: The request lacks valid authentication credentials. See the
            error message for details.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorSchema"
        '403':
          description: The request attempted to perform an operation it is not allowed
            to. See the error message for details.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorSchema"
        '404':
          description: A resource could not be found. See the error message for details.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorSchema"
        '409':
          description: There was a request conflict with the current state of the
            target resource. See the error message for details.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorSchema"
        '500':
          description: The server encountered an internal error. See the error message
            for details.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorSchema"
      security:
      - api_key: []
        oauth2:
        - listings_w
    get:
      operationId: getListingFile
      description: |-
        <div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><span class="wt-badge wt-badge--notificationPrimary wt-bg-slime-tint wt-mr-xs-2">General Release</span><a class="wt-text-link" href="https://github.com/etsy/open-api/discussions" target="_blank" rel="noopener noreferrer">Report bug</a></div><div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><p class="wt-text-body-01 banner-text">This endpoint is ready for production use.</p></div>

        Retrieves a single file associated with the given digital listing. Requesting a file from a physical listing returns an empty result.
      tags:
      - ShopListing File
      parameters:
      - name: shop_id
        in: path
        description: The unique positive non-zero numeric ID for an Etsy Shop.
        required: true
        schema:
          type: integer
          description: The unique positive non-zero numeric ID for an Etsy Shop.
          minimum: 1
      - name: listing_id
        in: path
        description: The numeric ID for the [listing](/documentation/reference#tag/ShopListing)
          associated to this transaction.
        required: true
        schema:
          type: integer
          description: The numeric ID for the [listing](/documentation/reference#tag/ShopListing)
            associated to this transaction.
          minimum: 1
      - name: listing_file_id
        in: path
        description: The unique numeric ID of a file associated with a digital listing.
        required: true
        schema:
          type: integer
          description: The unique numeric ID of a file associated with a digital listing.
          minimum: 1
      responses:
        '200':
          description: The metatdata for a file associated with a digital listing.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ShopListingFile"
        '400':
          description: There was a problem with the request data. See the error message
            for details.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorSchema"
        '401':
          description: The request lacks valid authentication credentials. See the
            error message for details.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorSchema"
        '403':
          description: The request attempted to perform an operation it is not allowed
            to. See the error message for details.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorSchema"
        '404':
          description: A resource could not be found. See the error message for details.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorSchema"
        '500':
          description: The server encountered an internal error. See the error message
            for details.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorSchema"
      security:
      - api_key: []
        oauth2:
        - listings_r
  "/v3/application/shops/{shop_id}/listings/{listing_id}/files":
    get:
      operationId: getAllListingFiles
      description: |-
        <div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><span class="wt-badge wt-badge--notificationPrimary wt-bg-slime-tint wt-mr-xs-2">General Release</span><a class="wt-text-link" href="https://github.com/etsy/open-api/discussions" target="_blank" rel="noopener noreferrer">Report bug</a></div><div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><p class="wt-text-body-01 banner-text">This endpoint is ready for production use.</p></div>

        Retrieves all the files associated with the given digital listing. Requesting files from a physical listing returns an empty result.
      tags:
      - ShopListing File
      parameters:
      - name: listing_id
        in: path
        description: The numeric ID for the [listing](/documentation/reference#tag/ShopListing)
          associated to this transaction.
        required: true
        schema:
          type: integer
          description: The numeric ID for the [listing](/documentation/reference#tag/ShopListing)
            associated to this transaction.
          minimum: 1
      - name: shop_id
        in: path
        description: The unique positive non-zero numeric ID for an Etsy Shop.
        required: true
        schema:
          type: integer
          description: The unique positive non-zero numeric ID for an Etsy Shop.
          minimum: 1
      responses:
        '200':
          description: A list of metadata objects for the file resources associated
            with a listing.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ShopListingFiles"
        '400':
          description: There was a problem with the request data. See the error message
            for details.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorSchema"
        '401':
          description: The request lacks valid authentication credentials. See the
            error message for details.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorSchema"
        '404':
          description: A resource could not be found. See the error message for details.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorSchema"
        '500':
          description: The server encountered an internal error. See the error message
            for details.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorSchema"
      security:
      - api_key: []
        oauth2:
        - listings_r
    post:
      operationId: uploadListingFile
      description: |-
        <div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><span class="wt-badge wt-badge--notificationPrimary wt-bg-slime-tint wt-mr-xs-2">General Release</span><a class="wt-text-link" href="https://github.com/etsy/open-api/discussions" target="_blank" rel="noopener noreferrer">Report bug</a></div><div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><p class="wt-text-body-01 banner-text">This endpoint is ready for production use.</p></div>

        Uploads a new file for a digital listing, or associates an existing file with a specific listing. You must either provide the `listing_file_id` of an existing file, or the name and binary file data for a file to upload. Associating an existing file to a physical listing converts the physical listing into a digital listing, which removes all shipping costs and any product and inventory variations.
      tags:
      - ShopListing File
      parameters:
      - name: shop_id
        in: path
        description: The unique positive non-zero numeric ID for an Etsy Shop.
        required: true
        schema:
          type: integer
          description: The unique positive non-zero numeric ID for an Etsy Shop.
          minimum: 1
      - name: listing_id
        in: path
        description: The numeric ID for the [listing](/documentation/reference#tag/ShopListing)
          associated to this transaction.
        required: true
        schema:
          type: integer
          description: The numeric ID for the [listing](/documentation/reference#tag/ShopListing)
            associated to this transaction.
          minimum: 1
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                listing_file_id:
                  type: integer
                  description: The unique numeric ID of a file associated with a digital
                    listing.
                  minimum: 1
                file:
                  type: string
                  description: A binary file to upload.
                  format: binary
                  nullable: true
                name:
                  type: string
                  description: The file name string of a file to upload
                rank:
                  type: integer
                  description: The positive non-zero numeric position in the images
                    displayed in a listing, with rank 1 images appearing in the left-most
                    position in a listing.
                  minimum: 1
                  default: 1
      responses:
        '201':
          description: The metadata for a file associated with a digital listing.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ShopListingFile"
        '400':
          description: There was a problem with the request data. See the error message
            for details.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorSchema"
        '401':
          description: The request lacks valid authentication credentials. See the
            error message for details.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorSchema"
        '403':
          description: The request attempted to perform an operation it is not allowed
            to. See the error message for details.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorSchema"
        '404':
          description: A resource could not be found. See the error message for details.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorSchema"
        '500':
          description: The server encountered an internal error. See the error message
            for details.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorSchema"
      security:
      - api_key: []
        oauth2:
        - listings_w
  "/v3/application/listings/active":
    get:
      operationId: findAllListingsActive
      description: |-
        <div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><span class="wt-badge wt-badge--notificationPrimary wt-bg-slime-tint wt-mr-xs-2">General Release</span><a class="wt-text-link" href="https://github.com/etsy/open-api/discussions" target="_blank" rel="noopener noreferrer">Report bug</a></div><div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><p class="wt-text-body-01 banner-text">This endpoint is ready for production use.</p></div>

        A list of all active listings on Etsy paginated by their creation date. Without sort_order listings will be returned newest-first by default.
      tags:
      - ShopListing
      parameters:
      - name: limit
        in: query
        description: The maximum number of results to return.
        required: false
        schema:
          type: integer
          description: The maximum number of results to return.
          minimum: 1
          maximum: 100
          default: 25
      - name: offset
        in: query
        description: The number of records to skip before selecting the first result.
        required: false
        schema:
          type: integer
          description: The number of records to skip before selecting the first result.
          minimum: 0
          default: 0
      - name: keywords
        in: query
        description: Search term or phrase that must appear in all results.
        required: false
        schema:
          type: string
          description: Search term or phrase that must appear in all results.
          default: 
      - name: sort_on
        in: query
        description: 'The value to sort a search result of listings on. NOTES: a)
          `sort_on` only works when combined with one of the search options (keywords,
          region, etc.). b) when using `score` the returned results will always be
          in _descending_ order, regardless of the `sort_order` parameter.'
        required: false
        schema:
          type: string
          description: 'The value to sort a search result of listings on. NOTES: a)
            `sort_on` only works when combined with one of the search options (keywords,
            region, etc.). b) when using `score` the returned results will always
            be in _descending_ order, regardless of the `sort_order` parameter.'
          enum:
          - created
          - price
          - updated
          - score
          default: created
      - name: sort_order
        in: query
        description: 'The ascending(up) or descending(down) order to sort listings
          by. NOTE: sort_order only works when combined with one of the search options
          (keywords, region, etc.).'
        required: false
        schema:
          type: string
          description: 'The ascending(up) or descending(down) order to sort listings
            by. NOTE: sort_order only works when combined with one of the search options
            (keywords, region, etc.).'
          enum:
          - asc
          - ascending
          - desc
          - descending
          - up
          - down
          default: desc
      - name: min_price
        in: query
        description: The minimum price of listings to be returned by a search result.
        required: false
        schema:
          type: number
          description: The minimum price of listings to be returned by a search result.
          format: float
          default: 
      - name: max_price
        in: query
        description: The maximum price of listings to be returned by a search result.
        required: false
        schema:
          type: number
          description: The maximum price of listings to be returned by a search result.
          format: float
          default: 
      - name: taxonomy_id
        in: query
        description: The numerical taxonomy ID of the listing. See [SellerTaxonomy](/documentation/reference#tag/SellerTaxonomy)
          and [BuyerTaxonomy](/documentation/reference#tag/BuyerTaxonomy) for more
          information.
        required: false
        schema:
          type: integer
          description: The numerical taxonomy ID of the listing. See [SellerTaxonomy](/documentation/reference#tag/SellerTaxonomy)
            and [BuyerTaxonomy](/documentation/reference#tag/BuyerTaxonomy) for more
            information.
          minimum: 1
          default: 
      - name: shop_location
        in: query
        description: Filters by shop location. If location cannot be parsed, Etsy
          responds with an error.
        required: false
        schema:
          type: string
          description: Filters by shop location. If location cannot be parsed, Etsy
            responds with an error.
          default: 
      responses:
        '200':
          description: A list of all active listings on Etsy paginated by their creation
            date. Without sort_order listings will be returned newest-first by default.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ShopListings"
        '404':
          description: A resource could not be found. See the error message for details.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorSchema"
        '500':
          description: The server encountered an internal error. See the error message
            for details.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorSchema"
  "/v3/application/shops/{shop_id}/listings/active":
    get:
      operationId: findAllActiveListingsByShop
      description: |-
        <div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><span class="wt-badge wt-badge--notificationPrimary wt-bg-slime-tint wt-mr-xs-2">General Release</span><a class="wt-text-link" href="https://github.com/etsy/open-api/discussions" target="_blank" rel="noopener noreferrer">Report bug</a></div><div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><p class="wt-text-body-01 banner-text">This endpoint is ready for production use.</p></div>

        Retrieves a list of all active listings on Etsy in a specific shop, paginated by listing creation date.
      tags:
      - ShopListing
      parameters:
      - name: shop_id
        in: path
        description: The unique positive non-zero numeric ID for an Etsy Shop.
        required: true
        schema:
          type: integer
          description: The unique positive non-zero numeric ID for an Etsy Shop.
          minimum: 1
      - name: limit
        in: query
        description: The maximum number of results to return.
        required: false
        schema:
          type: integer
          description: The maximum number of results to return.
          minimum: 1
          maximum: 100
          default: 25
      - name: sort_on
        in: query
        description: 'The value to sort a search result of listings on. NOTES: a)
          `sort_on` only works when combined with one of the search options (keywords,
          region, etc.). b) when using `score` the returned results will always be
          in _descending_ order, regardless of the `sort_order` parameter.'
        required: false
        schema:
          type: string
          description: 'The value to sort a search result of listings on. NOTES: a)
            `sort_on` only works when combined with one of the search options (keywords,
            region, etc.). b) when using `score` the returned results will always
            be in _descending_ order, regardless of the `sort_order` parameter.'
          enum:
          - created
          - price
          - updated
          - score
          default: created
      - name: sort_order
        in: query
        description: 'The ascending(up) or descending(down) order to sort listings
          by. NOTE: sort_order only works when combined with one of the search options
          (keywords, region, etc.).'
        required: false
        schema:
          type: string
          description: 'The ascending(up) or descending(down) order to sort listings
            by. NOTE: sort_order only works when combined with one of the search options
            (keywords, region, etc.).'
          enum:
          - asc
          - ascending
          - desc
          - descending
          - up
          - down
          default: desc
      - name: offset
        in: query
        description: The number of records to skip before selecting the first result.
        required: false
        schema:
          type: integer
          description: The number of records to skip before selecting the first result.
          minimum: 0
          default: 0
      - name: keywords
        in: query
        description: Search term or phrase that must appear in all results.
        required: false
        schema:
          type: string
          description: Search term or phrase that must appear in all results.
          default: 
      responses:
        '200':
          description: Retrieves a list of all active listings on Etsy in a specific
            shop, paginated by listing creation date.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ShopListings"
        '400':
          description: There was a problem with the request data. See the error message
            for details.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorSchema"
        '404':
          description: A resource could not be found. See the error message for details.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorSchema"
        '500':
          description: The server encountered an internal error. See the error message
            for details.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorSchema"
  "/v3/application/shops/{shop_id}/listings/{listing_id}/images/{listing_image_id}":
    delete:
      operationId: deleteListingImage
      description: |-
        <div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><span class="wt-badge wt-badge--notificationPrimary wt-bg-slime-tint wt-mr-xs-2">General Release</span><a class="wt-text-link" href="https://github.com/etsy/open-api/discussions" target="_blank" rel="noopener noreferrer">Report bug</a></div><div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><p class="wt-text-body-01 banner-text">This endpoint is ready for production use.</p></div>

        Open API V3 endpoint to delete a listing image. A copy of the file remains on our servers, and so a deleted image may be re-associated with the listing without re-uploading the original image; see uploadListingImage.
      tags:
      - ShopListing Image
      parameters:
      - name: shop_id
        in: path
        description: The unique positive non-zero numeric ID for an Etsy Shop.
        required: true
        schema:
          type: integer
          description: The unique positive non-zero numeric ID for an Etsy Shop.
          minimum: 1
      - name: listing_id
        in: path
        description: The numeric ID for the [listing](/documentation/reference#tag/ShopListing)
          associated to this transaction.
        required: true
        schema:
          type: integer
          description: The numeric ID for the [listing](/documentation/reference#tag/ShopListing)
            associated to this transaction.
          minimum: 1
      - name: listing_image_id
        in: path
        description: The numeric ID of the primary [listing image](/documentation/reference#tag/ShopListing-Image)
          for this transaction.
        required: true
        schema:
          type: integer
          description: The numeric ID of the primary [listing image](/documentation/reference#tag/ShopListing-Image)
            for this transaction.
          minimum: 1
      responses:
        '204':
          description: The ListingImage resource was correctly deleted
        '400':
          description: There was a problem with the request data. See the error message
            for details.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorSchema"
        '401':
          description: The request lacks valid authentication credentials. See the
            error message for details.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorSchema"
        '403':
          description: The request attempted to perform an operation it is not allowed
            to. See the error message for details.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorSchema"
        '404':
          description: A resource could not be found. See the error message for details.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorSchema"
        '500':
          description: The server encountered an internal error. See the error message
            for details.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorSchema"
      security:
      - api_key: []
        oauth2:
        - listings_w
    get:
      operationId: getListingImageDeprecated
      description: |-
        <div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><span class="wt-badge wt-badge--notificationPrimary wt-bg-slime-tint wt-mr-xs-2">General Release</span><a class="wt-text-link" href="https://github.com/etsy/open-api/discussions" target="_blank" rel="noopener noreferrer">Report bug</a></div><div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><p class="wt-text-body-01 banner-text">This endpoint is ready for production use.</p></div>

        NOTE: This endpoint is being deprecated in favor of not requiring the shops/:shop_id as part of the URL. Retrieves the references and metadata for a listing image with a specific image ID.
      tags:
      - ShopListing Image
      parameters:
      - name: shop_id
        in: path
        description: The unique positive non-zero numeric ID for an Etsy Shop.
        required: true
        schema:
          type: integer
          description: The unique positive non-zero numeric ID for an Etsy Shop.
          minimum: 1
      - name: listing_id
        in: path
        description: The numeric ID for the [listing](/documentation/reference#tag/ShopListing)
          associated to this transaction.
        required: true
        schema:
          type: integer
          description: The numeric ID for the [listing](/documentation/reference#tag/ShopListing)
            associated to this transaction.
          minimum: 1
      - name: listing_image_id
        in: path
        description: The numeric ID of the primary [listing image](/documentation/reference#tag/ShopListing-Image)
          for this transaction.
        required: true
        schema:
          type: integer
          description: The numeric ID of the primary [listing image](/documentation/reference#tag/ShopListing-Image)
            for this transaction.
          minimum: 1
      responses:
        '200':
          description: A single ListingImage
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ListingImage"
        '400':
          description: There was a problem with the request data. See the error message
            for details.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorSchema"
        '403':
          description: The request attempted to perform an operation it is not allowed
            to. See the error message for details.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorSchema"
        '404':
          description: A resource could not be found. See the error message for details.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorSchema"
        '500':
          description: The server encountered an internal error. See the error message
            for details.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorSchema"
  "/v3/application/listings/{listing_id}/images/{listing_image_id}":
    get:
      operationId: getListingImage
      description: |-
        <div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><span class="wt-badge wt-badge--notificationPrimary wt-bg-slime-tint wt-mr-xs-2">General Release</span><a class="wt-text-link" href="https://github.com/etsy/open-api/discussions" target="_blank" rel="noopener noreferrer">Report bug</a></div><div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><p class="wt-text-body-01 banner-text">This endpoint is ready for production use.</p></div>

        Retrieves the references and metadata for a listing image with a specific image ID.
      tags:
      - ShopListing Image
      parameters:
      - name: listing_id
        in: path
        description: The numeric ID for the [listing](/documentation/reference#tag/ShopListing)
          associated to this transaction.
        required: true
        schema:
          type: integer
          description: The numeric ID for the [listing](/documentation/reference#tag/ShopListing)
            associated to this transaction.
          minimum: 1
      - name: listing_image_id
        in: path
        description: The numeric ID of the primary [listing image](/documentation/reference#tag/ShopListing-Image)
          for this transaction.
        required: true
        schema:
          type: integer
          description: The numeric ID of the primary [listing image](/documentation/reference#tag/ShopListing-Image)
            for this transaction.
          minimum: 1
      responses:
        '200':
          description: A single ListingImage
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ListingImage"
        '400':
          description: There was a problem with the request data. See the error message
            for details.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorSchema"
        '403':
          description: The request attempted to perform an operation it is not allowed
            to. See the error message for details.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorSchema"
        '404':
          description: A resource could not be found. See the error message for details.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorSchema"
        '500':
          description: The server encountered an internal error. See the error message
            for details.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorSchema"
  "/v3/application/listings/{listing_id}/images":
    get:
      operationId: getListingImages
      description: |-
        <div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><span class="wt-badge wt-badge--notificationPrimary wt-bg-slime-tint wt-mr-xs-2">General Release</span><a class="wt-text-link" href="https://github.com/etsy/open-api/discussions" target="_blank" rel="noopener noreferrer">Report bug</a></div><div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><p class="wt-text-body-01 banner-text">This endpoint is ready for production use.</p></div>

        Retrieves all listing image resources for a listing with a specific listing ID.
      tags:
      - ShopListing Image
      parameters:
      - name: listing_id
        in: path
        description: The numeric ID for the [listing](/documentation/reference#tag/ShopListing)
          associated to this transaction.
        required: true
        schema:
          type: integer
          description: The numeric ID for the [listing](/documentation/reference#tag/ShopListing)
            associated to this transaction.
          minimum: 1
      responses:
        '200':
          description: An array of ListingImage
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ListingImages"
        '400':
          description: There was a problem with the request data. See the error message
            for details.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorSchema"
        '403':
          description: The request attempted to perform an operation it is not allowed
            to. See the error message for details.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorSchema"
        '404':
          description: A resource could not be found. See the error message for details.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorSchema"
        '500':
          description: The server encountered an internal error. See the error message
            for details.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorSchema"
  "/v3/application/shops/{shop_id}/listings/{listing_id}/images":
    get:
      operationId: getListingImagesDeprecated
      description: |-
        <div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><span class="wt-badge wt-badge--notificationPrimary wt-bg-slime-tint wt-mr-xs-2">General Release</span><a class="wt-text-link" href="https://github.com/etsy/open-api/discussions" target="_blank" rel="noopener noreferrer">Report bug</a></div><div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><p class="wt-text-body-01 banner-text">This endpoint is ready for production use.</p></div>

        NOTE: This endpoint is being deprecated in favor of not requiring the shops/:shop_id as part of the URL. Retrieves all listing image resources for a listing with a specific listing ID.
      tags:
      - ShopListing Image
      parameters:
      - name: shop_id
        in: path
        description: The unique positive non-zero numeric ID for an Etsy Shop.
        required: true
        schema:
          type: integer
          description: The unique positive non-zero numeric ID for an Etsy Shop.
          minimum: 1
      - name: listing_id
        in: path
        description: The numeric ID for the [listing](/documentation/reference#tag/ShopListing)
          associated to this transaction.
        required: true
        schema:
          type: integer
          description: The numeric ID for the [listing](/documentation/reference#tag/ShopListing)
            associated to this transaction.
          minimum: 1
      responses:
        '200':
          description: A single ListingImage
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ListingImages"
        '400':
          description: There was a problem with the request data. See the error message
            for details.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorSchema"
        '403':
          description: The request attempted to perform an operation it is not allowed
            to. See the error message for details.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorSchema"
        '404':
          description: A resource could not be found. See the error message for details.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorSchema"
        '500':
          description: The server encountered an internal error. See the error message
            for details.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorSchema"
    post:
      operationId: uploadListingImage
      description: |-
        <div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><span class="wt-badge wt-badge--notificationPrimary wt-bg-slime-tint wt-mr-xs-2">General Release</span><a class="wt-text-link" href="https://github.com/etsy/open-api/discussions" target="_blank" rel="noopener noreferrer">Report bug</a></div><div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><p class="wt-text-body-01 banner-text">This endpoint is ready for production use.</p></div>

        Uploads or assigns an image to a listing identified by a shop ID with a listing ID. To upload a new image, set the image file as the value for the `image` parameter. You can assign a previously deleted image to a listing using the deleted image's image ID in the `listing_image_id` parameter. When a request contains both `image` and `listing_image_id` parameter values, the endpoint uploads the image in the `image` parameter only. Note: When uploading a new image, data such as colors and size may return as null values due to asynchronous processing of the image. Use getListingImage endpoint to fetch these values.
      tags:
      - ShopListing Image
      parameters:
      - name: shop_id
        in: path
        description: The unique positive non-zero numeric ID for an Etsy Shop.
        required: true
        schema:
          type: integer
          description: The unique positive non-zero numeric ID for an Etsy Shop.
          minimum: 1
      - name: listing_id
        in: path
        description: The numeric ID for the [listing](/documentation/reference#tag/ShopListing)
          associated to this transaction.
        required: true
        schema:
          type: integer
          description: The numeric ID for the [listing](/documentation/reference#tag/ShopListing)
            associated to this transaction.
          minimum: 1
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                image:
                  type: string
                  description: The file name string of a file to upload
                  format: binary
                  nullable: true
                listing_image_id:
                  type: integer
                  description: The numeric ID of the primary [listing image](/documentation/reference#tag/ShopListing-Image)
                    for this transaction.
                  minimum: 1
                rank:
                  type: integer
                  description: The positive non-zero numeric position in the images
                    displayed in a listing, with rank 1 images appearing in the left-most
                    position in a listing.
                  minimum: 0
                  default: 1
                overwrite:
                  type: boolean
                  description: When true, this request replaces the existing image
                    at a given rank.
                  default: false
                is_watermarked:
                  type: boolean
                  description: When true, indicates that the uploaded image has a
                    watermark.
                  default: false
                alt_text:
                  type: string
                  description: Alt text for the listing image. Max length 250 characters.
                  default: ''
      responses:
        '201':
          description: A single ListingImage
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ListingImage"
        '400':
          description: There was a problem with the request data. See the error message
            for details.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorSchema"
        '401':
          description: The request lacks valid authentication credentials. See the
            error message for details.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorSchema"
        '403':
          description: The request attempted to perform an operation it is not allowed
            to. See the error message for details.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorSchema"
        '404':
          description: A resource could not be found. See the error message for details.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorSchema"
        '409':
          description: There was a request conflict with the current state of the
            target resource. See the error message for details.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorSchema"
        '500':
          description: The server encountered an internal error. See the error message
            for details.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorSchema"
      security:
      - api_key: []
        oauth2:
        - listings_w
  "/v3/application/listings/{listing_id}/inventory":
    get:
      operationId: getListingInventory
      description: |-
        <div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><span class="wt-badge wt-badge--notificationPrimary wt-bg-slime-tint wt-mr-xs-2">General Release</span><a class="wt-text-link" href="https://github.com/etsy/open-api/discussions" target="_blank" rel="noopener noreferrer">Report bug</a></div><div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><p class="wt-text-body-01 banner-text">This endpoint is ready for production use.</p></div>

        Retrieves the inventory record for a listing. Listings you did not edit using the Etsy.com inventory tools have no inventory records. This endpoint returns SKU data if you are the owner of the inventory records being fetched.
      tags:
      - ShopListing Inventory
      parameters:
      - name: listing_id
        in: path
        description: The numeric ID for the [listing](/documentation/reference#tag/ShopListing)
          associated to this transaction.
        required: true
        schema:
          type: integer
          description: The numeric ID for the [listing](/documentation/reference#tag/ShopListing)
            associated to this transaction.
          minimum: 1
      - name: show_deleted
        in: query
        description: A boolean value for inventory whether to include deleted products
          and their offerings. Default value is false.
        required: false
        schema:
          type: boolean
          description: A boolean value for inventory whether to include deleted products
            and their offerings. Default value is false.
      - name: includes
        in: query
        description: An enumerated string that attaches a valid association. Default
          value is null.
        required: false
        schema:
          type: string
          description: An enumerated string that attaches a valid association. Default
            value is null.
          enum:
          - Listing
      responses:
        '200':
          description: A single listing inventory record.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ListingInventoryWithAssociations"
        '400':
          description: There was a problem with the request data. See the error message
            for details.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorSchema"
        '401':
          description: The request lacks valid authentication credentials. See the
            error message for details.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorSchema"
        '404':
          description: A resource could not be found. See the error message for details.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorSchema"
        '422':
          description: There was a problem processing your request. See the error
            message for details.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorSchema"
        '500':
          description: The server encountered an internal error. See the error message
            for details.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorSchema"
      security:
      - api_key: []
        oauth2:
        - listings_r
    put:
      operationId: updateListingInventory
      description: |-
        <div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><span class="wt-badge wt-badge--notificationPrimary wt-bg-slime-tint wt-mr-xs-2">General Release</span><a class="wt-text-link" href="https://github.com/etsy/open-api/discussions" target="_blank" rel="noopener noreferrer">Report bug</a></div><div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><p class="wt-text-body-01 banner-text">This endpoint is ready for production use.</p></div>

        Updates the inventory for a listing identified by a listing ID. The update fails if the supplied values for product sku, offering quantity, and/or price are incompatible with values in `*_on_property_*` fields. When setting a price, assign a float equal to amount divided by divisor as specified in the Money resource.
      tags:
      - ShopListing Inventory
      parameters:
      - name: listing_id
        in: path
        description: The numeric ID for the [listing](/documentation/reference#tag/ShopListing)
          associated to this transaction.
        required: true
        schema:
          type: integer
          description: The numeric ID for the [listing](/documentation/reference#tag/ShopListing)
            associated to this transaction.
          minimum: 1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - products
              properties:
                products:
                  type: array
                  description: A JSON array of products available in a listing, even
                    if only one product. All field names in the JSON blobs are lowercase.
                  items:
                    type: object
                    properties:
                      sku:
                        type: string
                        description: The SKU string for the product
                        nullable: true
                      property_values:
                        type: array
                        description: 'A list of property value entries for this product.
                          Note: parenthesis characters (`(` and `)`) are not allowed.'
                        items:
                          type: object
                          properties:
                            property_id:
                              type: integer
                              description: The unique ID of an Etsy [listing property](/documentation/reference#operation/getListingProperties).
                              minimum: 1
                            value_ids:
                              type: array
                              description: An array of unique IDs of multiple Etsy
                                [listing property](/documentation/reference#operation/getListingProperties)
                                values. For example, if your listing offers different
                                sizes of a product, then the value ID list contains
                                value IDs for each size.
                              items:
                                type: integer
                                minimum: 1
                            scale_id:
                              type: integer
                              description: The numeric ID of a single Etsy.com measurement
                                scale. For example, for shoe size, there are three
                                `scale_id`s available - `UK`, `US/Canada`, and `EU`,
                                where `US/Canada` has `scale_id` 19.
                              nullable: true
                              minimum: 1
                            property_name:
                              type: string
                              description: The name of the property, in the requested
                                locale language.
                            values:
                              type: array
                              description: 'A list of property value entries for this
                                product. Note: parenthesis characters (`(` and `)`)
                                are not allowed.'
                              items:
                                type: string
                          required:
                          - property_id
                          - value_ids
                          - values
                      offerings:
                        type: array
                        description: A list of product offering entries for this product.
                        items:
                          type: object
                          properties:
                            price:
                              type: number
                              description: The price of the product.
                              format: float
                            quantity:
                              type: integer
                              description: How many of this product are available?
                            is_enabled:
                              type: boolean
                              description: True if the offering is shown to buyers
                          required:
                          - price
                          - quantity
                          - is_enabled
                    required:
                    - offerings
                price_on_property:
                  type: array
                  description: An array of unique [listing property](/documentation/reference#operation/getListingProperties)
                    ID integers for the properties that change product prices, if
                    any. For example, if you charge specific prices for different
                    sized products in the same listing, then this array contains the
                    property ID for size.
                  items:
                    type: integer
                quantity_on_property:
                  type: array
                  description: An array of unique [listing property](/documentation/reference#operation/getListingProperties)
                    ID integers for the properties that change the quantity of the
                    products, if any. For example, if you stock specific quantities
                    of different colored products in the same listing, then this array
                    contains the property ID for color.
                  items:
                    type: integer
                sku_on_property:
                  type: array
                  description: An array of unique [listing property](/documentation/reference#operation/getListingProperties)
                    ID integers for the properties that change the product SKU, if
                    any. For example, if you use specific skus for different colored
                    products in the same listing, then this array contains the property
                    ID for color.
                  items:
                    type: integer
      responses:
        '200':
          description: A single listing's inventory record.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ListingInventory"
        '400':
          description: There was a problem with the request data. See the error message
            for details.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorSchema"
        '401':
          description: The request lacks valid authentication credentials. See the
            error message for details.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorSchema"
        '403':
          description: The request attempted to perform an operation it is not allowed
            to. See the error message for details.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorSchema"
        '404':
          description: A resource could not be found. See the error message for details.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorSchema"
        '500':
          description: The server encountered an internal error. See the error message
            for details.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorSchema"
      security:
      - api_key: []
        oauth2:
        - listings_w
  "/v3/application/listings/{listing_id}/inventory/products/{product_id}":
    get:
      operationId: getListingProduct
      description: |-
        <div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><span class="wt-badge wt-badge--notificationPrimary wt-bg-slime-tint wt-mr-xs-2">General Release</span><a class="wt-text-link" href="https://github.com/etsy/open-api/discussions" target="_blank" rel="noopener noreferrer">Report bug</a></div><div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><p class="wt-text-body-01 banner-text">This endpoint is ready for production use.</p></div>

        Open API V3 endpoint to retrieve a ListingProduct by ID.
      tags:
      - ShopListing Product
      parameters:
      - name: listing_id
        in: path
        description: The listing to return a ListingProduct for.
        required: true
        schema:
          type: integer
          description: The listing to return a ListingProduct for.
          minimum: 1
      - name: product_id
        in: path
        description: The numeric ID for a specific [product](/documentation/reference#tag/ShopListing-Product)
          purchased from a listing.
        required: true
        schema:
          type: integer
          description: The numeric ID for a specific [product](/documentation/reference#tag/ShopListing-Product)
            purchased from a listing.
          minimum: 1
      responses:
        '200':
          description: A single ListingInventoryProduct
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ListingInventoryProduct"
        '400':
          description: There was a problem with the request data. See the error message
            for details.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorSchema"
        '401':
          description: The request lacks valid authentication credentials. See the
            error message for details.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorSchema"
        '404':
          description: A resource could not be found. See the error message for details.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorSchema"
        '500':
          description: The server encountered an internal error. See the error message
            for details.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorSchema"
      security:
      - api_key: []
        oauth2:
        - listings_r
  "/v3/application/listings/{listing_id}/products/{product_id}/offerings/{product_offering_id}":
    get:
      operationId: getListingOffering
      description: |-
        <div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><span class="wt-badge wt-badge--notificationPrimary wt-bg-slime-tint wt-mr-xs-2">General Release</span><a class="wt-text-link" href="https://github.com/etsy/open-api/discussions" target="_blank" rel="noopener noreferrer">Report bug</a></div><div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><p class="wt-text-body-01 banner-text">This endpoint is ready for production use.</p></div>

        Get an Offering for a Listing
      tags:
      - ShopListing Offering
      parameters:
      - name: listing_id
        in: path
        description: ''
        required: true
        schema:
          type: integer
          minimum: 1
      - name: product_id
        in: path
        description: ''
        required: true
        schema:
          type: integer
          minimum: 1
      - name: product_offering_id
        in: path
        description: ''
        required: true
        schema:
          type: integer
          minimum: 1
      responses:
        '200':
          description: A single ListingInventoryProductOffering
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ListingInventoryProductOffering"
        '400':
          description: There was a problem with the request data. See the error message
            for details.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorSchema"
        '404':
          description: A resource could not be found. See the error message for details.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorSchema"
        '500':
          description: The server encountered an internal error. See the error message
            for details.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorSchema"
  "/v3/application/listings/batch":
    get:
      operationId: getListingsByListingIds
      description: |-
        <div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><span class="wt-badge wt-badge--notificationPrimary wt-bg-slime-tint wt-mr-xs-2">General Release</span><a class="wt-text-link" href="https://github.com/etsy/open-api/discussions" target="_blank" rel="noopener noreferrer">Report bug</a></div><div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><p class="wt-text-body-01 banner-text">This endpoint is ready for production use.</p></div>

        Allows to query multiple listing ids at once. Limit 100 ids maximum per query.
      tags:
      - ShopListing
      parameters:
      - name: listing_ids
        in: query
        description: The list of numeric IDS for the listings in a specific Etsy shop.
        required: true
        schema:
          type: array
          description: The list of numeric IDS for the listings in a specific Etsy
            shop.
          items:
            type: integer
            minimum: 1
      - name: includes
        in: query
        description: An enumerated string that attaches a valid association. Acceptable
          inputs are 'Shipping', 'Shop', 'Images', 'User', 'Translations' and 'Inventory'.
        required: false
        schema:
          type: array
          description: An enumerated string that attaches a valid association. Acceptable
            inputs are 'Shipping', 'Shop', 'Images', 'User', 'Translations' and 'Inventory'.
          items:
            type: string
            enum:
            - Shipping
            - Images
            - Shop
            - User
            - Translations
            - Inventory
            - Videos
          default: 
      responses:
        '200':
          description: A list of Listings
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ShopListingsWithAssociations"
        '400':
          description: There was a problem with the request data. See the error message
            for details.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorSchema"
        '404':
          description: A resource could not be found. See the error message for details.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorSchema"
        '500':
          description: The server encountered an internal error. See the error message
            for details.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorSchema"
  "/v3/application/shops/{shop_id}/listings/featured":
    get:
      operationId: getFeaturedListingsByShop
      description: |-
[...]
